body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

#scroller{
    scroll-behavior: smooth;
    overflow-y: auto;
    height: 100vh;
}

#landing{
    background-image: url(main.png);
    background-clip: content-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left;
    height: 100vh;
    position: relative;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    margin-left: 20px;
    margin-top: 20px;
}

.menu_icon {
    width: 50px;
    height: 55px;
    margin: 1%;
}

.menu_icon:hover ~ nav{
    display: inherit;
    background-color: red;
}

.menu_icon:hover {
    background-color: red;
}

nav {
    display: flex;
}

#nav_item{
    padding-top: 0.4em;
    text-decoration: none;
    color: initial;
} 

#nav_item :hover{
    color: #174431;
    background-color: #d4c5c8;
} 

nav h3{
    margin-right: 75px;
    padding: 5px;
    padding-top: 1%;
    font-weight: normal;
    font-size: 19pt;
    transition: background-color, 300ms;
}

#selector{
  position: relative;
  display: block;
  cursor: pointer;
}

#selector::before{
    content: " ";
    position: absolute;
    width: 2px;
    height: 29pt;
    left: 0px;
    top: 25%;
    background-color: #020202a8;
}

#language{
    padding: 10px 50px 1px 30px;
    margin-top: 2px;
    font-size: 1.5em;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-content: center;
    width: 90px;
}

.arrow{
    border: solid #4E8489;
    border-width: 0 3px 3px 0;
    width: 11px;
    height: 11px;
    transform: rotate(45deg);
    align-self: center;
    margin-bottom: 3px;
}

.icon {
    width: auto;
    height: 22pt;
}

.dropdown-content {
  width: 280px;
  right: 0;
  margin-right: 20px;
  display: none;
  position: absolute;
  background-color: rgb(246, 237, 246);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content img {
    margin-right: 14%;
    height: 12pt;
}

.dropdown-content a {
    color: inherit;
    padding: 1% 15px;
    text-decoration: none;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    transition: background-color, 250ms;
}

.dropdown-content a:hover {
    color: #174431;
    background-color: #d4c5c8;}

#selector:hover .dropdown-content {
    display: block;
}

#landing-content{
    margin-left: 51%;
}

#landing h1{
    margin-top: 15vh;
    font-size: 2.4vw;
    letter-spacing: 0.2rem;
    font-weight: bold;
}


#landing h4 {
    margin-top: 5%;
    font-size: 17pt;
    font-weight:lighter
}

button {
    margin-top: 12%;
    font-size: 17pt;
    color: white;
    background-color: #4E8489;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    border: none;
    padding: 1.3rem;
    box-shadow: 8px 8px 10px #000000a8;
    cursor: pointer;
}

button:hover{
    transition-duration: 0.4s;
    background-color: #3c6f74;
    justify-self: center;
}

#services{
    background-color:#EFEFEF ;
    margin-top: 3rem;
    min-height: fit-content;
    scroll-behavior: smooth;
    overflow-y: scroll;
}

#title_div{
    justify-content: center;
    text-align: center;
}

#section_title {
    font-size: 32pt;
    font-weight: normal;
    align-self: center;
    display: inline-block;
    position: relative;
    padding: 2.3% 1.6% 25px 1.6%;
}

#section_title::after{
    content: " ";
    height: 3px;
    background: #4E8489;
    width: 100%;
    position: absolute;
    left: 0%;
    bottom:0;
}


#services_pane{
    display: grid;
    padding: 5% 0;
    grid-template-columns: 10% 90%;
}

.bar{
    margin-left: 30%;
    height: 103%;
}

#service_box{
    display: flex;
    padding: 6% 7% 0 7%;
}

#services span{
    width: 50%;
} 

#services p{
    font-size: 18pt;
}

#services h3{
    padding-top: 4%;
    font-size: 27pt;
}

#right{
    width: 25vw;
    margin-left: auto;
}

#left{
    width: 25vw;
    margin-right: auto;
}

#about_pane {
    display: flex;
    margin-top: 4%;
    margin-bottom: 2%;
}

#about_pane span img {
    margin-bottom: 5%;
    width: auto;
}

#article {
    display: flex;
    padding: 8%;
    padding-top: 1%;
}

#article img{
    height: 10%;
    padding: 2.4em;
    padding-right: 1.5%;
}

#about h3{
    font-size: 27pt;
}

#about p{
    font-size: 17pt;
    width: 95%;
}

#article_span :last-child{
    padding-bottom: 0;
}

#about_photo {
    display: inline-block;
    width: 40vw;
    margin: auto 2% auto 3%;
    height: 50%;
}


#communication {
    background-color: #ECECEC;
    min-height: 50vh;
    display: flex;
    padding: 7% 0;
    font-size: 14pt;
    scroll-behavior: smooth;
    overflow-y: scroll;
}

#form_grid {
    width: 37%;
    padding: 0 13%;
    display: grid;
    grid-template-columns: 40% 40%;
    column-gap: 9px;
    row-gap: 15px;
}

#form_grid label{
    align-self: end;
}

#name {
    grid-column-start: 1;
    grid-row-start: 2;
    grid-column: 1;
    height: 25pt;
    font-size: 14pt;
}

#lastname {
    grid-column-start: 2;
    grid-row-start: 2;
    height: 25pt;
    font-size: 14pt;
}

#email {
    grid-column-start: 1;
    grid-column-end: 3;
    height: 25pt;
    font-size: 14pt;
}

#l4{
    grid-column-start: 1;
    grid-column-end: 3;
}

#message {
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 14pt;
    resize: none;
    text-decoration: none;
}

#submit{
    margin-top: 6%;
    font-size: 14pt;
    color: white;
    background-color: #4E8489;
    border: none;
    box-shadow: none;
    grid-column: 2;
    grid-row: 7;
    font-family: 'Open Sans', sans-serif;
    padding: 2% 6%;
    cursor: pointer;
}

#info_grid{
    padding: 1%;
    background-color: #F4F4F4;
    padding-right: 7%;;
}

#info_grid p{
    color: #2e595d; 
    margin: 40px 0;
}

#info_grid div{
    width: 300px;
    justify-content: space-between;
}

footer {
    background-color: #373737;
    display: flex;
    justify-content: space-around;
    margin: 0;
    color: #ecececa9;
}


@media screen and (max-width: 1100px) {

    #landing h1{
        margin-top: 15vh;
        font-size: 4.5vw;
        letter-spacing: 0.2rem;
        font-weight: bold;
    }

    #service_box{
        display: block;
        padding: 6% 7% 0 7%;
    }

    #communication {
        display: block;
    }

    #form_grid {
        width: 100%;
    }

    #services{
        display: flex;
        flex-flow: column;
    }

    #services_pane{
        margin-top: 5%;
        display: initial;
    }

    #service_box{
        display: grid;
        grid-template-rows: 1 1;
        width: 70vw;
        text-align: center;
        margin: auto;
        padding: 0;
    }

    #service_box p{
        font-size: 17pt;
    }

    #service_box span{
        grid-row: 2;
        display: block;
        width: 100%;
        margin-bottom: 16%;
    }

    #service_box h3{
        padding: 0;
        font-size: 24pt;
    }
    
    .bar {
        display: none;
    }
    

    #right {
        display: initial;
        margin-right: 30%;
        width: 30vw;
        grid-row: 0;
    }

    #left {
        display: block;
        margin-left: 40%;
        margin: auto;
        width: 30vw;
    }


    #about_photo{
        display: none;
    }

    #info_grid{
        margin: 80px auto 0 auto;
        display: block;
        width: 70%;
        padding: 0;
        background-color: inherit;
    }
}


@media screen and (max-width: 650px) {

    header{
        padding: 1%;
        background-color: #CAC2CF;
    }

    #logo{
        height: 60px;
        margin: 0;
    }

    #landing-content{
        display: flex;
        text-align: center;
        width: 100%;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 10% auto;
    }

    #landing h1{
        padding: 0 5%;
        font-size: 2rem;
    }

    #landing-content button{
        margin-top: 30%;
    }

    #section_title{
        margin: 10% 0;
    }

    #communication{
        padding-top: 17%;
    }

    #article_span{
        margin-bottom: 12%;
    }


    #form_grid{
        grid-template-rows: 10;
        grid-template-columns: 50% 20%;
    }

    #name {
        grid-column-start: 1;
        grid-row: 2;
        grid-column: 1;
        height: 25pt;
        font-size: 14pt;
    }
    
    #l2 {
        grid-row: 3;
        grid-column: 1;
    }

    #lastname {
        grid-column-start: 1;
        grid-row: 4;
        font-size: 14pt;
        height: 25pt;
    }
    
    #l3 {
        grid-row: 5;
    }

    #email {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 6;
        height: 25pt;
        font-size: 14pt;
    }
    
    #l4{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 7;
    }
    
    #message {
        grid-row-start: 8;
        grid-row-end: 8;
        grid-column-start: 1;
        grid-column-end: 3;
        font-size: 14pt;
        resize: none;
        text-decoration: none;
    }

    #submit {
        grid-row: 9;
        grid-column-start: 1;
        grid-column-end: 3;
        width: 60%;
        margin: auto;
        margin-top: 40px;
    }